@import url(./reset.css);

@font-face {
	font-family: 'intro-regular';
	src: url('../fonts/intro-regular/Intro\ \ Regular.ttf');
}

@font-face {
	font-family: 'intro-light';
	src: url('../fonts/intro-light/Intro-Light.ttf');
}

/* Comienzo de declaracion de variables */
:root {

	/*font*/
	--corporative-font:"intro-regular";
	--secondary-font: "roboto";

	/* Colores */
	--principal-color1: #00B5D9;
	--principal-color2: #003b70;
	--secondary-color1: #8a8a8d3a;
	--secondary-color2: #8a8a8d;
	--secondary-color3: #4f2c7f;
	--text-shadow: #000;
	--fondo: #fff; 

	/* Paddings y margenes */
	--external-padding-size: 2em;

	/* Tamaños de letras */
	--nav-font-size: 18px;
	--main-header-title-size: 5rem; /* Header de la pagina */
	--header-description-size: 1.8rem; /* Descripcion del header de la pagina */
	--section-title-size: 3.5rem; /* Titulo de los sections */
	--section-description-size: 1.5rem; /* Descripcion de los sections */
	--footer-header-title-size: 1.5rem;
	--footer-description-text : 1rem;

	/*Tamaño imagenes*/
	--height-img: 30rem;
	--height-img-transition:32rem;

}



/* Comienzo de configuraciones generales */
body {
	min-width: 48em;
}


body > header {
	background-color: var(--secondary-color1);

}

.bar::before {
	content: "";
	width: 1rem;
	height: 100%;
	transform: skewX(30deg);
	background-color: var(--principal-color1);
	position: absolute;
	left: -3rem;
	z-index: 1;
}

a {
	text-decoration: none;
}

/* Fin de configuraciones generales */

/* Comienzo del Header */

header >figure {
	height: 20rem;
	overflow: hidden;
}
header > figure > img {
	width: 100%;
	display: block;

	/*
	margin-left: auto;
	margin-right: auto;
	object-fit: scale-down;*/
}

/*Fin del Header*/

/* Comienzo del NAV bar */

nav {
	border-bottom: 1px solid var(--principal-color2);
	position: sticky; 
	top: 0;
	background-color:var(--fondo);
	z-index: 2;
}

nav input {
	display: none;
}

nav label{
	display: none;
}

nav > ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul > li> a {
	display: block;
	font-family: var(--secondary-font);
	font-size: var(--nav-font-size);
	font-weight: 600;
	text-decoration: none;
	color: var(--principal-color2);
	padding: 10px;
}

#inputSubmit, #inputRemove {
	background-color:var(--principal-color2);
	color:var(--fondo);
}

nav a:hover {
	color: white;
	background-color: var(--principal-color1);
}

/* Fin del NAV bar */

/* Comienzo de main */

section {
	position: relative;
}

header {
	text-align: center;
	
}

main section:nth-child(even){
	background-color: var(--secondary-color1);
}

h1 {
	font-family: var(--corporative-font);
	font-size: var(--main-header-title-size);
	margin: 0.5em;
	color: var(--principal-color2);
	text-shadow: 1px 1px 2px black;
}

p {
	font-family: var(--secondary-font);
	font-size: var(--section-description-size);
	padding: 1rem  5rem;
}

h2 {
	font-family: var(--corporative-font);
	font-size: var(--section-title-size);
	text-align: right;
	padding-right: 8rem;
	color: var(--principal-color2);
	text-shadow: 1px 1px 2px var(--text-shadow);
	position: absolute;
	right: 0;
	top: 3rem;
}

figcaption {
	font-family: var(--secondary-font);
	font-size: var(--section-description-size);
	padding-right: 8rem;
	text-align: right;

	/*margin: 0.5em;*/
}

figure {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

section > figure >  img{
	height: var(--height-img);
	clip-path: polygon(0 0, 0 100%,100% 100%,70% 0  );
    display: inline-block;
	transition: 0.2s;
}

section > figure > img:hover{
	transition: 0.2s;
	height: var(--height-img-transition);
}


button {
    position: absolute;
    right: 8rem;
    top: 20rem;
    background-color: var(--principal-color1);
	color:white;
	border-radius: 8px;
}

button:hover{
	background-color: white;
	color:var(--principal-color1);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Fin de main */

/*Comienzo footer*/

footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 20px;
	padding: 4rem 1rem;
	text-align: center;
	background-color:var(--fondo);
}

h3 {
	font-size: var(--footer-header-title-size );
	padding-bottom: 1rem;
}

footer p {
	font-size: var(--footer-description-text);
	padding: 1rem;
}

footer a {
	font-size: var(--footer-description-text);
	color: white;
}

footer li p:nth-child(1) {
	font-weight: bold;
}

footer li p:nth-child(2) {
	display: block;
}

address p {
	padding: 0.2rem;
}

/*Fin footer*/

@media screen and (max-width: 1300px) {

	:root {
		/* Tamaños de letras */
		--nav-font-size: 18px;
		--main-header-title-size: 4.5rem;
		--section-title-size: 2.5rem;
		--section-description-size: 1.5rem;
		--footer-header-title-size: 1rem;

		/*Tamaño imagenes*/
		--height-img: 20rem;
		--height-img-transition:21rem;
	}

	h2{
		top: 0.7rem
	}
	button {
		top: 18rem;}
}

@media screen and (max-width: 900px) {
	:root {
		/* Tamaños de letras */
		--nav-font-size: 2rem;
		--main-header-title-size: 5rem;
		--section-title-size: 4rem;
		--section-description-size: 2rem;
		--footer-header-title-size: 2rem;

		/*Tamaño imagenes*/
		--height-img: 20rem;
	}
	
	section{
		text-align: center;
	}

	figure {
		display: block;
		text-align: center;
	}

	figcaption {
		font-family:var(--secondary-font);
		font-size: var(--section-description-size);
		z-index: 1;
		margin: auto;
		padding: 1rem 0;
		width: 40rem;
		text-align: center;
	}

	footer section:nth-child(1) {
		display: none;
	}

	footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}

	footer li, footer a, footer p {
		font-size: 1.5rem;
		padding: 0.3rem;
	}
	
	footer a, footer p {
		display: inline-block;
	}

	h2 {
		position: relative;
		text-align: center;
		padding: 1rem;
		margin-bottom: 2rem;
	}

	section > figure > img {
		clip-path: none;
	}

	section > figure > img:hover{
		height: var(--height-img);
	}

	button{
		position: relative;
		padding: 1rem 2rem;
		right: 0;
		top:0;
	}

	nav{
		text-align: center;
		padding: 1rem;
	}

	nav input{
		display: none;	
	}

	input:checked  ~ ul{
		display:block;
	}

	nav label {
		color: var(--principal-color2);
		margin: 0.2rem;
		box-sizing: border-box;
		display: inline-block;
		border: 2px solid var(--text-shadow);
		border-radius: 0.5rem;
		width: 5rem;
		line-height: 5rem;
		font-size: 5rem;
		text-align: center;
		user-select: none
	}

	nav ul {
		display: none;
	}
	
	nav li{
		margin: 1rem;
	}

}

@media (prefers-color-scheme: dark) {

    body {
		--principal-color1: #003b70;
		--principal-color2: #00B5D9;
		--secondary-color1: #8a8a8d3a;
		--secondary-color2: #8a8a8d;
		--secondary-color3: #4f2c7f;
		--text-shadow: #fff;
		--fondo: #000;
	
	
		background-color: #000;
		color: #fff;
    }


}