@import url(style.css);

h2 {
    position: relative;
    text-align: center;
}

input {
    display: block;
    width: 30rem;
    padding: 0.5rem 2rem ;
    margin: 1rem 2rem;
}

input[name = mensaje]{
    padding-bottom: 15rem;
}

main > section{
    display: flex;
}

.contact-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    
}

article address, article img {
    display: inline;
}

article img {
	width: 2rem;
	height: 2rem;
}

address {
	font-size: 1.5rem;
	margin-left: 1.5rem;
}

article {
    margin: 1rem 0rem;
    text-align: center;
}

input[name="inputRemove"], input[name="inputSubmit"] {
	width: auto;
	display: inline-block;
	align-content: center;
}

.formulario-reserva > form {
	text-align:center
}

@media screen and (max-width: 900px) {
	main > section {
		display: block;
	}

	.formulario-reserva fieldset{
		display: inline-block;
	}
}