@import url(./style.css);

/* Centrar el place holder de los inputs */
input {
	text-align: center;
	color: white;
	padding: 1em 0px;
}

::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	text-align: center;
}

/* Comienzo formulario de reserva index*/
body > section > form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

body > section > form > fieldset {
	display: flex;
	justify-content:center;
	align-items: center;
	width:100%;
}

body > section > form > fieldset > input {
	width: 20%;
	background-color:aliceblue ;
	font-size: var(--nav-font-size);
	font-weight: 800;
	color: var(--principal-color2);
}

.b-submit{
	background-color: var(--principal-color1);
	color:white;
	border-radius: 8px;
	transition-duration: 0.4s;
}
.b-submit:hover{
	background-color: white;
	color: var(--principal-color1);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body > section > form >  label > input[name="comenzarReserva"] {
	
	background-color: var(--principal-color1);
}

/* Fin furmularuo de reserva index */

/* Comienzo de main */

body > main > section:nth-child(2) > figure > img {
	text-align: center;
	clip-path:none;
	height: 10rem;
	display: block	;
	}

/* Fin de main */