@import url(./style.css);

/* Centrar el place holder de los inputs */
input {
	text-align: center;
	color: white;
	padding: 1em 0px;
}

::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	text-align: center;
}

/* Comienzo formulario de reserva index*/

body > section {
	padding: 1em var(--external-padding-size) 1em var(--external-padding-size);
	border-bottom: 1px solid var(--pantone-dark-blue);
	background-color: #8a8a8a;
	
}

body > section > form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

body > section > form > fieldset {
	display: flex;
	justify-content:center;
	align-items: center;
	width:100%;
}

body > section > form > fieldset > input {
	width: 20%;
	background-color:aliceblue ;
	font-size: var(--nav-font-size);
	font-weight: 800;
	color: var(--pantone-dark-blue);
}

.b-submit{
	background-color: #008CBA;
	color:white;
	border-radius: 8px;
	transition-duration: 0.4s;
}
.b-submit:hover{
	background-color: white;
	color:#008CBA;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body > section > form >  label > input[name="comenzarReserva"] {
	
	background-color: var(--pantone-light-blue);
}

/* Fin furmularuo de reserva index */

/* Comienzo de main */
body > main > section:nth-child(3) > figure,
	body > main > section:nth-child(4) > figure {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 8rem;
}

body > main > section:nth-child(2) > figure {
	text-align: center;
	}

body > main > section:nth-child(3) > figure > img,
	body > main > section:nth-child(4) > figure > img{
	height: var(--height-img);
	clip-path: polygon(0 0, 0 100%,100% 100%,70% 0  );
    display: inline-block;
}

body > main > section:nth-child(3) > figure > figcaption,
	body > main > section:nth-child(4) > figure > figcaption {
		font-size: var(--main-description-text-size);
		padding-right: 8rem;
		text-align: right;
}

/* Fin de main */