@import url(./reset.css);

@font-face {
	font-family: 'intro-regular';
	src: url('../fonts/intro-regular/Intro\ \ Regular.ttf');
}

@font-face {
	font-family: 'intro-light';
	src: url('../fonts/intro-light/Intro-Light.ttf');
}

/* Comienzo de declaracion de variables */
:root {
	/* Colores */
	--principal-color1: #00B5D9;
	--principal-color2: #003b70;
	--secondary-color1: #8a8a8d;
	--secondary-color2: #4f2c7f;
	--text-shadow: #000;

	/* Paddings y margenes */
	--external-padding-size: 2em;

	/* Tamaños de letras */
	--nav-font-size: 18px;
	--main-header-title-size: 5rem; /* Header de la pagina */
	--header-description-size: 1.8rem; /* Descripcion del header de la pagina */
	--section-title-size: 3.5rem; /* Titulo de los sections */
	--section-description-size: 1.5rem; /* Descripcion de los sections */
	--footer-header-title-size: 1.5rem;
	--footer-description-text : 1rem;

	/*Tamaño imagenes*/
	--height-img: 30rem;

}

/* Comienzo de configuraciones generales */
body {
	min-width: 48em;
}

body > header {
	background-color: var(--secondary-color1);
}

.bar::before {
	content: "";
	width: 1rem;
	height: 100%;
	transform: skewX(30deg);
	background-color: var(--principal-color1);
	position: absolute;
	left: -3rem;
}

/* Fin de configuraciones generales */

/* Comienzo del Header */

header > figure > img {
	height: 10em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: scale-down;
}

/*Fin del Header*/

/* Comienzo del NAV bar */

nav {
	border-bottom: 1px solid var(--principal-color2);
	position: sticky; 
	top: 0;
	background-color: white;
	z-index: 1;
}

nav > ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul > li> a {
	display: block;
	font-family: 'intro-light';
	font-size: var(--nav-font-size);
	font-weight: 600;
	text-decoration: none;
	color: var(--principal-color2);
	padding: 10px;
}

nav a:hover {
	color: white;
	background-color: var(--principal-color1);
}

/* Fin del NAV bar */

/* Comienzo de main */

section {
	position: relative;
}

header {
	text-align: center;
	
}

main section:nth-child(even){
	background-color: var(--secondary-color1);
}

h1 {
	font-family: 'intro-regular';
	font-size: var(--main-header-title-size);
	margin: 0.5em;
	color: var(--principal-color2);
	text-shadow: 1px 1px 2px black;
}

p {
	font-family: 'intro-light';
	font-size: var(--section-description-size);
	padding: 1rem  5rem;
}

h2 {
	font-family: 'intro-regular';
	font-size: var(--section-title-size);
	text-align: right;
	padding-right: 8rem;
	color: var(--principal-color2);
	text-shadow: 1px 1px 2px var(--text-shadow);
	/*margin: 0.5em;*/
	position: absolute;
	right: 0;
	top :3rem;

}

figcaption {
	font-family: 'intro-light';
	font-size: var(--section-description-size);
	padding-right: 8rem;
	text-align: right;
	/*margin: 0.5em;*/
}

figure {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

section > figure > img{
	height: var(--height-img);
	clip-path: polygon(0 0, 0 100%,100% 100%,70% 0  );
    display: inline-block;
}

button {
    position: absolute;
    right: 8rem;
    top: 22rem;
    background-color: var(--principal-color1);
	color:white;
	border-radius: 8px;
	transition-duration: 0.4s;
}

button:hover{
	background-color: white;
	color:var(--principal-color1);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Fin de main */

/*Comienzo footer*/

footer {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 4rem 1rem;
	text-align: center;
	background-color: white;
}

 h3 {
	font-size: var(--footer-header-title-size );
	padding-bottom: 1rem;
}

footer  p{
	font-size: var(--footer-description-text);
}

/*Fin footer*/

@media screen and (max-width: 1300px) {

	:root {
		/* Tamaños de letras */
		--nav-font-size: 18px;
		--main-header-title-size: 4.5rem;
		--section-title-size: 2.5rem;
		--section-description-size: 1.5rem;
		--footer-header-title-size: 1rem;

		/*Tamaño imagenes*/
		--height-img: 20rem;
	}

	h2{
		top: 0.7rem
	}
}

@media screen and (max-width: 900px) {
	:root {
		/* Tamaños de letras */
		--nav-font-size: 18px;
		--main-header-title-size: 4rem;
		--section-title-size: 2.5rem;
		--section-description-size: 1.5rem;
		--footer-header-title-size: 0.7rem;

		/*Tamaño imagenes*/
		--height-img: 20rem;
	}

	figure {
		display: block;
		text-align: center;
	}

	figcaption {
		font-family: 'intro-light';
		font-size: var(--section-description-size);
		z-index: 1;
		margin: auto;
		padding: 1rem 0;
		width: 40rem;
		text-align: center;
	}

	footer section:nth-child(1){
		display: none;
	}

	footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}

	h2 {
		position:relative;
		text-align: center;
		padding: 1rem;
	}

	section > figure > img {
		clip-path: none;
	}

}

