@font-face {
	font-family: 'intro-regular';
	src: url('../fonts/intro-regular/Intro\ \ Regular.ttf');
}
@font-face {

    font-family: 'intro-Light';
    src: url('../fonts/Intro-Light/Intro-Light.ttf');
}

body {
	 font-family: "intro-regular"; 
}
/*Comienzo imagen header*/

/*Comienzo imagen header*/
header {
    margin-bottom: 0;
    padding-bottom: 0;
}

header figure{

    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 0;
    padding-bottom: 0;
   
}

header img {
    margin: auto;
    width: 100%;
}
/*Fin imagen header*/


/* Comienzo de la barra de navegacion */

nav{
   font-family: intro-light;
    text-align: right;
    margin-left: 6rem;
    margin-right: 6rem;
}

nav ul {
    margin: auto; 
    border: 0.1em solid #8a8a8d ; 
}

nav a {
    text-decoration: none;
    color: #003b70;
    display: block;
    padding: 1rem;
}

nav a:hover{
    background-color: #8a8a8d;
}

 nav li {
    display: inline-block;
    
}


/* Fin de la barra de navegacion */

/* Comienzo formulario de reserva index*/ 

input {
    background-color: #8a8a8d;
    color:white;
    padding: 0;
    margin: 0;
    display: inline;

}

label input {
    background-color: #003b70;
}

fieldset{
    display: inline-block;
    border: none;
    height: 100% ;
    padding: 0;
    margin: 0;
}

form label{
    display: inline;
}



/* Fin furmularuo de reserva index*/

/*Estilos generales*/
section {
    margin-left: 6rem;
    margin-right: 6rem;
    border: 0.1em solid #8a8a8d ; 
}


/*Estilos generales*/
h1{
    text-align: center;
    font-size: 1.5rem;
}


/* Clases custom */

.is-flex {
	display: flex;
}