@import url(./reset.css);

@font-face {
	font-family: 'intro-regular';
	src: url('../fonts/intro-regular/Intro\ \ Regular.ttf');
}

@font-face {
	font-family: 'intro-light';
	src: url('../fonts/intro-light/Intro-Light.ttf');
}

/* Comienzo de declaracion de variables */
:root {
	/* Colores */
	--pantone-light-blue: #183f6e;
	--pantone-dark-blue: #003b70;
	--pantone-gray: #8a8a8d;
	--pantone-purple: #4f2c7f;

	/* Paddings y margenes */
	--external-padding-size: 2em;

	/* Tamaños de letras */
	--nav-font-size: 18px;
	--main-header-title-size: 5rem;
	--main-description-title-size: 3.5rem;
	--main-description-text-size: 1.5rem;
	--footer-header-title-size: 1.5rem;

	/*Tamaño imagenes*/
	--height-img: 30rem;

}
/* Fin de declaracion de variables */

/* Comienzo de configuraciones generales */
body {
	min-width: 48em;
}

/* Fin de configuraciones generales */

/* Comienzo del Header */

body > header {
	background-color: grey;
}

body > header > figure > img {
	height: 10em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: scale-down;
}

/*Fin del Header*/

/* Comienzo del NAV bar */

body > nav {
	border-bottom: 1px solid var(--pantone-dark-blue);
	position: sticky; 
    top: 0;
	background-color: #fff;
	z-index: 1;
}

body > nav > ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

body > nav > ul > li> a {
	display: block;
	font-family: 'intro-light';
	font-size: var(--nav-font-size);
	font-weight: 600;
	text-decoration: none;
	color: var(--pantone-dark-blue);
	padding: 10px;
}

nav a:hover {
	color: white;
	background-color: var(--pantone-light-blue);
}

/* Fin del NAV bar */

/* Comienzo de main */
body > main > section {
	position: relative;
}

body > main > section > header {
	text-align: center;
	
}

body > main > section:nth-child(even){
	background-color: #8a8a8a;
}

body > main > section > header > h1 {
	font-family: 'intro-regular';
	font-size: var(--main-header-title-size);
	margin: 0.5em;
	color: var(--pantone-dark-blue);
	text-shadow: 1px 1px 2px black;
	background: linear-gradient(66deg,
		rgba(255,255,255,0) 5%,
		rgba(24,63,110,1) 5%,
		rgba(24,63,110,1) 6%,
		rgba(255,255,255,0) 6%);
}

body > main > section > p {
	font-family: 'intro-light';
	font-size: var(--main-description-text-size);
	padding: 1rem  5rem;
}

body > main > section > header > h2 {
	font-family: 'intro-regular';
	font-size: var(--main-description-title-size);
	text-align: right;
	padding-right: 8rem;
	color: var(--pantone-dark-blue);
	text-shadow: 1px 1px 2px black;
	/*margin: 0.5em;*/
	position: absolute;
	right: 0;
	top :80px;

}

body > main > section > figure > figcaption {
	font-family: 'intro-light';
	font-size: var(--main-description-text-size);
	/*margin: 0.5em;*/
}

/* Fin de main */

/*Comienzo footer*/

body > footer {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 4rem 1rem;
	text-align: center;
	background-color: #fff;
}

body > footer > section > h3 {
	font-size:--footer-header-title-size ;
	padding-bottom: 1rem;
}

/*Fin footer*/

@media screen and (max-width: 1300px){

	:root {
		/* Tamaños de letras */
		--nav-font-size: 18px;
		--main-header-title-size: 4.5rem;
		--main-description-title-size: 2.5rem;
		--main-description-text-size: 1rem;
		--footer-header-title-size: 1rem;

		/*Tamaño imagenes*/
		--height-img: 20rem;
	}
}

@media screen and (max-width: 900px){

	:root {
		/* Tamaños de letras */
		--nav-font-size: 18px;
		--main-header-title-size: 4rem;
		--main-description-title-size: 2.5rem;
		--main-description-text-size: 1rem;
		--footer-header-title-size: 0.7rem;

		/*Tamaño imagenes*/
		--height-img: 10rem;
	}
}

